Repository scottlz0310/PhotoGeoView: changes, and which pre-commit hooks are due for each by the changed paths.
All: ai-quality-check, ai-documentation-check, performance-regression-check

ai-quality-check:
  name: AI統合品質チェック
  entry: python tools/ai_quality_checker.py
  language: system
  pass_filenames: false
  args:
  - --fail-on-critical

ai-documentation-check:
  name: AIドキュメント整合性チェック
  entry: python docs/ai_integration/standalone_doc_generator.py
  language: system
  pass_filenames: false

performance-regression-check:
  name: パフォーマンス回帰チェック
  entry: python tests/performance_tests/performance_regression_detector.py
  language: system
  pass_filenames: false
  args:
  - --iterations=3

🎉 Complete PhotoGeoView AI Integration
  INTEGRATION_PROGRESS_SUMMARY.md
  config/app_config.json
  how origin
  src/integration/ui/folder_navigator.py
  src/integration/ui/main_window.py
  state/app_state.backup
  state/app_state.json
  tests/test_final_integration.py
Due: ai-quality-check, ai-documentation-check, performance-regression-check

🗺️ Improve map panel with fallback display and WebEngine safety
  src/integration/ui/map_panel.py
Due: ai-quality-check, ai-documentation-check, performance-regression-check

🗺️ Fix WebEngine map display - Root cause resolved!
  main.py
  src/integration/ui/map_panel.py
Due: ai-quality-check, ai-documentation-check, performance-regression-check

🎉 Map display success - Configuration update
  config/app_config.json
Due: none

feat: 左パネルUI大幅改善 - EXIF統合・3エリアスプリッター・サムネイル最適化
  EXIF_FULL_INTEGRATION_SUMMARY.md
  EXIF_HEIGHT_ADJUSTMENT_SUMMARY.md
  EXIF_INTEGRATION_SUMMARY.md
  THREE_AREA_SPLITTER_SUMMARY.md
  THUMBNAIL_PERFORMANCE_OPTIMIZATION_SUMMARY.md
  THUMBNAIL_VERTICAL_SCROLL_SUMMARY.md
  config/app_config.json
  demo_data/test_image.jpg
  src/integration/ui/exif_panel.py
  src/integration/ui/main_window.py
  src/integration/ui/map_panel.py
  src/integration/ui/simple_thumbnail_grid.py
  state/app_state.backup
  state/app_state.json
Due: ai-quality-check, ai-documentation-check, performance-regression-check

feat: EXIFパネル簡素化と左パネルスプリッター修正
  EXIF_PANEL_SIMPLIFICATION_SUMMARY.md
  src/integration/ui/exif_panel.py
Due: ai-quality-check, ai-documentation-check, performance-regression-check

feat: マルチプラットフォーム対応実装
  .github/workflows/multiplatform-ci.yml
  MULTIPLATFORM_SUPPORT.md
  scripts/build_package.py
  scripts/setup_platform.py
Due: ai-quality-check

refactor: CI/CDワークフロー簡素化
  .github/workflows_backup/ai-integration-ci.yml
  .github/workflows_backup/ai-integration-tests.yml
  .github/workflows_backup/ci-simulator.yml
  .github/workflows_backup/multiplatform-ci.yml
  .github/workflows_backup/simple-ci.yml
  WORKFLOW_SIMPLIFICATION.md
  config/app_config.json
  state/app_state.backup
  state/app_state.json
Due: none

MultiPlatforms TEST
  .github/workflows/multiplatform-ci.yml
  .github/workflows/simple-ci.yml
Due: none

Fix CI workflow: correct syntax error and improve PyQt6 headless environment setup
  .cursorrules
  .github/workflows/multiplatform-ci.yml
Due: none

Fix CI workflow: resolve string literal syntax errors and improve dependency installation
  .github/workflows/multiplatform-ci.yml
  config/app_config.json
  state/app_state.backup
  state/app_state.json
Due: none

Fix CI workflow: resolve string literal syntax errors in Python code blocks
  .github/workflows/multiplatform-ci.yml
Due: none

Fix CI workflow: improve PyQt6 installation and error handling
  .github/workflows/multiplatform-ci.yml
  requirements.txt
Due: none

Fix CI workflow: resolve Unicode encoding issues on Windows
  .github/workflows/multiplatform-ci.yml
Due: none

Fix CI workflow: add OpenGL libraries and improve error handling
  .github/workflows/multiplatform-ci.yml
Due: none

Fix CI workflow: enable auto-formatting for black and isort
  .github/workflows/multiplatform-ci.yml
Due: none

Fix CI workflow: simplify code quality checks for Windows compatibility
  .github/workflows/multiplatform-ci.yml
Due: none

Fix CI workflow: skip code quality checks on Windows for compatibility
  .github/workflows/multiplatform-ci.yml
Due: none

Fix CI workflow: skip type checking on Windows for compatibility
  .github/workflows/multiplatform-ci.yml
Due: none

Fix CI workflow: fix PowerShell command parsing for Windows test execution
  .github/workflows/multiplatform-ci.yml
Due: none

feat: 地図パネルの全画面表示機能を実装
  src/integration/ui/map_panel.py
Due: ai-quality-check, ai-documentation-check, performance-regression-check

feat: AI統合機能のUI改善とテーマ管理の最適化
  config/app_config.json
  src/integration/ui/image_preview_panel.py
  src/integration/ui/main_window.py
  state/app_state.backup
  state/app_state.json
Due: ai-quality-check, ai-documentation-check, performance-regression-check

fix: GitHub Actions CI/CDの問題を修正
  .github/workflows/multiplatform-ci.yml
  multiplatform-summary/summary.md
  tests/integration_tests/comprehensive_integration_test.py
Due: ai-quality-check

fix: Windows環境でのテスト失敗とCodecov問題を解決
  .github/workflows/multiplatform-ci.yml
  multiplatform-summary/summary.md
  tests/test_async_file_discovery.py
Due: ai-quality-check

fix: Windows環境での非同期テストとCI統合テストをスキップ
  multiplatform-summary/summary.md
  tests/test_async_file_discovery.py
  tests/test_ci_integration.py
Due: ai-quality-check

chore: GitHub Actionsログファイルを.gitignoreに追加
  .gitignore
Due: none

fix: Windows環境での設定マネージャーとデータマイグレーションテストをスキップ
  multiplatform-summary/summary.md
  tests/test_config_manager.py
  tests/test_data_migration.py
Due: ai-quality-check

fix: Windows環境でのデータ検証テストをスキップ
  multiplatform-summary/summary.md
  tests/test_data_validation.py
Due: ai-quality-check

Windows環境でのテスト失敗を修正 - 画像ファイル作成テストをWindows環境でスキップ
  tests/test_file_discovery_cache.py
  tests/test_file_list_display_error_handling.py
  tests/test_file_list_display_integration.py
  tests/test_file_list_display_performance.py
  tests/test_final_integration_verification.py
  tests/test_performance_final_check.py
  tests/test_validation_cache_advanced.py
Due: ai-quality-check

test: テストファイルのフォーマット修正 - 余分な空白行を削除してコードスタイルを統一
  tests/test_file_discovery_cache.py
  tests/test_file_list_display_error_handling.py
  tests/test_file_list_display_integration.py
  tests/test_file_list_display_performance.py
  tests/test_final_integration_verification.py
  tests/test_performance_final_check.py
  tests/test_validation_cache_advanced.py
Due: ai-quality-check

ci: Windows環境でのテスト実行を改善 - 段階的テスト実行とカバレッジファイル確認を追加
  .github/workflows/multiplatform-ci.yml
Due: none

ci: CI/CDパイプラインの包括的改善 - 基本的なインポートテスト追加、全プラットフォームでのテスト実行改善、詳細ログ出力強化
  .github/workflows/multiplatform-ci.yml
  tests/test_imports.py
Due: ai-quality-check

ci: Windows環境でのテスト実行をさらに改善 - 個別テストファイル実行、カバレッジファイル確認、詳細ログ出力を追加
  .github/workflows/multiplatform-ci.yml
Due: none

fix: マルチプラットフォームCI/CDワークフローの修正 - PowerShellスクリプトエラーの修正 - Qt環境の最適化 - テスト環境の改善 - エラーハンドリングの強化
  .github/workflows/multiplatform-ci-fixed.yml
Due: none

feat: シンプル版マルチプラットフォームCI/CDワークフローの追加 - シェルスクリプト構文エラーの修正 - Codecov Token問題の回避 - エラーハンドリングの改善 - 基本機能に集中したシンプルな構成
  .github/workflows/multiplatform-ci-simple.yml
Due: none

cleanup: 重複するワークフローファイルを削除 - 古いmultiplatform-ci.yml, multiplatform-ci-fixed.yml, multiplatform-ci-v2.ymlを削除 - 最新のmultiplatform-ci-simple.ymlのみを保持 - ワークフロー実行の重複を防止
  .github/workflows/ai-quality-improvement.yml
  .github/workflows/multiplatform-ci-fixed.yml
  .github/workflows/multiplatform-ci-simple.yml
  .github/workflows/multiplatform-ci.yml
Due: none

fix: Windows環境でのディレクトリ作成エラーを修正 - mkdir -pコマンドにエラーハンドリングを追加 - shell: bashを明示的に指定 - 既存ディレクトリの重複エラーを回避
  .github/workflows/multiplatform-ci-simple.yml
Due: none

feat: 全画面表示機能の統一と改善
  src/integration/ui/image_preview_panel.py
  src/integration/ui/map_panel.py
Due: ai-quality-check, ai-documentation-check, performance-regression-check

docs: AI統合ドキュメントとツール類の追加
  .cursorrules
  README_AI_INTEGRATION.md
  analyze_workflow.py
  config/app_config.json
  create_test_file.py
  docs/ai_quality_integration_guide.md
  requirements.txt
  src/integration/ui/image_preview_panel.py
  src/integration/ui/map_panel.py
  state/app_state.backup
  state/app_state.json
  tests/test_imports.py
  tools/github_actions_ai_analyzer.py
  tools/github_actions_ai_analyzer_enhanced.py
Due: ai-quality-check, ai-documentation-check, performance-regression-check

feat: 次回機能更新用依存関係を追加
  requirements.txt
Due: none

Path conditions:
  ai-quality-check: any of: \.py$
  ai-documentation-check: any of: ^src/.*\.py$
  performance-regression-check: any of: ^src/.*\.py$
