Repository scottlz0310/PhotoGeoView: changes, and which pre-commit hooks are due for each by the changed paths.
All: ai-quality-check, ai-documentation-check, performance-regression-check

ai-quality-check:
  name: AI統合品質チェック
  entry: python tools/ai_quality_checker.py
  language: system
  pass_filenames: false
  args:
  - --fail-on-critical

ai-documentation-check:
  name: AIドキュメント整合性チェック
  entry: python docs/ai_integration/standalone_doc_generator.py
  language: system
  pass_filenames: false

performance-regression-check:
  name: パフォーマンス回帰チェック
  entry: python tests/performance_tests/performance_regression_detector.py
  language: system
  pass_filenames: false
  args:
  - --iterations=3

🔄 Migrate from PyQt6 to PySide6
  .cursorrules
  config/app_config.json
  main.py
  requirements.txt
  src/integration/ui/exif_panel.py
  src/integration/ui/folder_navigator.py
  src/integration/ui/image_preview_panel.py
  src/integration/ui/main_window.py
  src/integration/ui/map_panel.py
  src/integration/ui/simple_thumbnail_grid.py
  src/integration/ui/theme_manager.py
  src/integration/ui/thumbnail_grid.py
  src/integration/ui_integration_controller.py
  src/integration/utils/webengine_checker.py
  test_file_system_watcher_integration.py
  test_thumbnail_display.py
  tests/test_final_integration.py
  tests/test_imports.py
Due: ai-quality-check, ai-documentation-check, performance-regression-check

qt-theme-breadcrumb Task1-8 complete
  .kiro/specs/qt-theme-breadcrumb/design.md
  .kiro/specs/qt-theme-breadcrumb/requirements.md
  .kiro/specs/qt-theme-breadcrumb/tasks.md
  =0.2.4
  CUSTOM_THEME_IMPLEMENTATION_SUMMARY.md
  NAVIGATION_INTEGRATION_CONTROLLER_SUMMARY.md
  src/integration/interfaces.py
  src/integration/navigation_integration_controller.py
  src/integration/navigation_interfaces.py
  src/integration/navigation_models.py
  src/integration/theme_integration_controller.py
  src/integration/theme_interfaces.py
  src/integration/theme_models.py
  src/integration/theme_navigation_integration.py
  src/integration/ui/main_window.py
  src/integration/user_notification_system.py
  src/ui/breadcrumb_bar.py
  src/ui/theme_editor.py
  src/ui/theme_manager.py
  state/app_state.backup
  state/app_state.json
  tests/test_breadcrumb_bar.py
  tests/test_breadcrumb_bar_simple.py
  tests/test_custom_theme_functionality.py
  tests/test_custom_theme_integration.py
  tests/test_error_handling_fallback_mechanisms.py
  tests/test_keyboard_shortcuts_accessibility.py
  tests/test_main_window_integration.py
  tests/test_navigation_integration_controller.py
  tests/test_theme_integration_controller.py
  tests/test_theme_manager_widget.py
  tests/test_theme_navigation_models.py
Due: ai-quality-check, ai-documentation-check, performance-regression-check

Qt-theme-breadrumb Integration Working
  .kiro/hooks/kiro-error-recovery.kiro.hook
  .kiro/settings/hooks.json
  .kiro/specs/qt-theme-breadcrumb/tasks.md
  BREADCRUMB_INTEGRATION_FIX.md
  DEBUG_SESSION_SUMMARY.md
  INTEGRATION_COMPLETE.md
  USER_GUIDE_QT_THEME_BREADCRUMB.md
  VISUAL_DEMO_GUIDE.md
  debug_comprehensive_fix.py
  debug_final_verification.py
  debug_fixes.py
  debug_fixes_advanced.py
  demo_qt_theme_breadcrumb.py
  integration_test_report.txt
  src/integration/performance_dashboard.py
  src/integration/performance_optimizer.py
  src/integration/state_manager.py
  src/integration/ui/main_window.py
  src/ui/breadcrumb_bar.py
  src/ui/breadcrumb_fallback.py
  src/ui/theme_manager.py
  src/ui/theme_manager_fallback.py
  state/app_state.backup
  state/app_state.json
  test_breadcrumb_integration.py
  test_breadcrumb_simple.py
  test_final_integration_verification.py
  tests/INTEGRATION_TESTS_SUMMARY.md
  tests/integration_tests/config/app_config.json
  tests/integration_tests/config/copilot_config.json
  tests/integration_tests/config/cursor_config.json
  tests/integration_tests/config/kiro_config.json
  tests/performance/test_breadcrumb_performance.py
  tests/performance/test_theme_performance.py
  tests/run_qt_theme_breadcrumb_integration_tests.py
  tests/test_cross_platform_compatibility.py
  tests/test_error_handling.py
  tests/test_file_system_watcher_integration.py
  tests/test_qt_theme_breadcrumb_integration.py
  tests/test_theme_persistence_integration.py
Due: ai-quality-check, ai-documentation-check, performance-regression-check

working
  .cursorrules
  breadcrumb_enhancement_specification.md
  config/app_config.json
  demo_qt_theme_breadcrumb.py
  demo_theme_management.py
  examples/demo_theme_selector.py
  src/integration/ui/__init__.py
  src/integration/ui/main_window.py
  src/integration/ui_integration_controller.py
  src/ui/breadcrumb_bar.py
  src/ui/theme_editor.py
  src/ui/theme_manager.py
  src/ui/theme_manager_simple.py
  src/ui/theme_selector.py
  state/app_state.backup
  state/app_state.json
  test_breadcrumb_enhancement.py
  test_breadcrumb_functionality.py
  test_final_integration_verification.py
  test_theme_management.py
  test_theme_ui.py
  tests/performance/test_theme_performance.py
  tests/test_custom_theme_functionality.py
  tests/test_custom_theme_integration.py
  tests/test_error_handling.py
  tests/test_error_handling_fallback_mechanisms.py
  tests/test_keyboard_shortcuts_accessibility.py
  tests/test_theme_manager_widget.py
  verify_theme_menu.py
Due: ai-quality-check, ai-documentation-check, performance-regression-check

feat: アプリケーション設定と状態管理の更新
  .gitignore
  config/app_config.json
  state/app_state.backup
  state/app_state.json
Due: none

テスト用の変更
  test_file.txt
Due: none

test commit
  test_file.txt
Due: none

chore: unify dependency docs to pyproject.toml and ignore persisted settings
  .gitignore
  CI_SYSTEM_UPDATE.md
  DEPLOYMENT_CHECKLIST.md
  MULTIPLATFORM_SUPPORT.md
  README.md
  docs/PhotoGeoView_ProjectSpecification.md
  docs/ai_quality_integration_guide.md
  docs/how CS4Coding_README.md
  main.py
  pyproject.toml
  tests/basic_tests.py
  tests/ci_simulation/README.md
  tests/test_imports.py
  tools/ci/simple_ci.py
  tools/ci/simple_test.py
  tools/ci/simulator_safe.py
Due: ai-quality-check

chore: fix theme UI test formatting and docstring; run code checks
  test_theme_ui.py
Due: ai-quality-check

chore: deprecate requirements.txt; delegate installs to pyproject (use -e .)
  requirements.txt
Due: none

chore: complete PySide6 migration references (scripts, tests, docs)
  EXIF_PANEL_SIMPLIFICATION_SUMMARY.md
  MULTIPLATFORM_SUPPORT.md
  create_test_file.py
  docs/ai_integration/api_documentation.md
  scripts/setup_platform.py
  simple_thumbnail_test.py
  tests/basic_tests.py
Due: ai-quality-check

chore: 不要なテストファイルとドキュメントを削除し、requirements.txtをpyproject.tomlに更新
  test_file.txt
  test_hook.md
  tests/ci_simulation/test_environment_managers.py
Due: ai-quality-check

ci/docs/build: migrate CI and docs to PySide6 + pyproject.toml; remove PyQt6 references
  .github/workflows/basic-ci.yml
  .github/workflows/multiplatform-ci-simple.yml
  DEPLOYMENT_CHECKLIST.md
  MULTIPLATFORM_SUPPORT.md
  README.md
  WORKFLOW_SIMPLIFICATION.md
  docs/PhotoGeoView_ProjectSpecification.md
  docs/how CS4Coding_README.md
  docs/integration_plan.md
  scripts/build_package.py
  tools/production_environment_setup.py
Due: ai-quality-check

ci: install test deps via pip install .[ci] and cache on pyproject.toml; fix pytest missing
  .github/workflows/ai-quality-improvement.yml
  .github/workflows/basic-ci.yml
  .github/workflows/multiplatform-ci-simple.yml
  .github/workflows/simple-ci.yml
Due: none

feat: EXIFパネルにテーマ管理機能を追加し、UI要素のスタイルをテーマに基づいて更新。EXIF情報の表示を改善し、エラーハンドリングを強化。デバッグ情報の表示機能を追加し、レイアウトクリアのメソッドを実装。
  src/integration/ui/exif_panel.py
  src/integration/ui/main_window.py
  src/ui/theme_manager_simple.py
Due: ai-quality-check, ai-documentation-check, performance-regression-check

Fix:CI/CD TestCoverage and Other
  assets/themes/16_themes_complete.json
  assets/themes/theme_settings_backup.json
  debug_exif_detailed.py
  debug_exif_issue.py
  demo_data/16_themes_complete.json
  demo_theme_management.py
  fix_exif_display.py
  fix_segfault.py
  minimal_test.py
  simple_exif_test.py
  src/integration/ui/__init__.py
  src/integration/ui/exif_labels.py
  src/integration/ui/exif_panel.py
  src/integration/ui/main_window.py
  src/integration/ui/simple_thumbnail_grid.py
  src/integration/ui/theme_manager.py
  src/integration/ui_integration_controller.py
  src/ui/theme_editor.py
  src/ui/theme_manager_simple.py
  test_exif_display.py
  test_exif_display_fix.py
  test_exif_ui.py
  test_theme_management.py
  test_theme_ui.py
  tools/theme_converter.py
Due: ai-quality-check, ai-documentation-check, performance-regression-check

🔧 Fix thumbnail display and resolve duplicate module issues
  src/integration/ui/exif_panel.py
  src/integration/ui/main_window.py
  src/integration/ui/simple_thumbnail_grid.py
  src/integration/ui/theme_manager.py
  src/integration/ui/thumbnail_grid.py
Due: ai-quality-check, ai-documentation-check, performance-regression-check

fix Thumbnail Panel and Exif Panek Theme Isuues
  debug_theme_stylesheet.py
  debug_thumbnail_loading.py
  fix_theme_background_issue.py
  fix_theme_stylesheet_generation.py
  fix_ui_theme_integration.py
  test_theme_application.py
  test_theme_background_fix.py
  test_ui_theme_integration.py
Due: ai-quality-check

feat: Phase 6完了 - 最終的な簡略化とユニットテスト修正
  docs/big_module_reseach.txt
  src/integration/error_handling.py
  src/integration/services/file_discovery_cache.py
  src/integration/services/file_discovery_service.py
  src/integration/ui/thumbnail_grid.py
  test_thumbnail_display.py
Due: ai-quality-check, ai-documentation-check, performance-regression-check

docs: 行長制限を79文字から88文字に更新
  .cursorrules
Due: none

フォルダ整理
  .gitignore
  multiplatform-summary/summary.md
Due: none

Implement feature X to enhance user experience and fix bug Y in module Z
  uv.lock
Due: none

Rename how CS4Coding:README.md to how CS4Coding-README.md
  how CS4Coding-README.md
Due: none

chore: add autogenerated files to .gitignore
  .gitignore
Due: none

chore: update requirements.txt with specific package versions
  requirements.txt
Due: none

chore: stop tracking autogenerated files
  .gitignore
  .vscode/settings.json
  LICENSE
  docs/PGV-UI.svg
  docs/PhotoGeoView_ProjectSpecification.md
  docs/branch_review_summary.md
  docs/integration_plan.md
  how CS4Coding-README.md
  requirements.txt
Due: none

Integrate and organize .gitignore from both branches
  .gitignore
Due: none

chore: remove deprecated requirements.txt in favor of pyproject.toml
  requirements.txt
Due: none

chore: update .gitignore to include additional temporary and environment files
  .gitignore
Due: none

Fix: Add reports directory with .gitkeep for GitHub Actions
  .gitignore
  reports/.gitkeep
Due: none

chore: update .gitignore to include VS Code auto-generated files
  .gitignore
Due: none

chore: update uv.lock
  uv.lock
Due: none

feat: add pytest-asyncio for asynchronous testing support and update CI/CD validation tests
  docs/summaries/PHASE1_COMPLETION_SUMMARY.md
  pyproject.toml
  tests/integration_tests/comprehensive_integration_test.py
  tests/test_qt_theme_breadcrumb_integration.py
  uv.lock
Due: ai-quality-check

feat: modernize build system by migrating to hatchling and updating Makefile commands
  Makefile
  docs/MODERNIZATION_PLAN.md
  pyproject.toml
Due: none

feat: optimize dependency management by removing upper version limits and modernizing dependency groups
  docs/MODERNIZATION_PLAN.md
  pyproject.toml
  uv.lock
Due: none

feat: モダンPython機能を活用し、型ヒントを更新して型安全性を向上
  docs/MODERNIZATION_PLAN.md
  src/integration/models.py
Due: ai-quality-check, ai-documentation-check, performance-regression-check

feat: 型ヒントのモダン化とwalrus演算子の導入によるコードの簡潔性向上
  docs/MODERNIZATION_PLAN.md
  src/integration/controllers.py
  src/integration/logging_system.py
Due: ai-quality-check, ai-documentation-check, performance-regression-check

feat: GitHub Actionsワークフローの整理と最新化、CI/CDの強化
  .github/workflows-archived/basic-ci.yml
  .github/workflows-archived/simple-ci.yml
  .github/workflows/README.md
  .github/workflows/ai-quality-improvement.yml
  .github/workflows/ci.yml
  .github/workflows/multiplatform-ci-simple.yml
  .pre-commit-config.yaml
  docs/MODERNIZATION_PLAN.md
Due: none

Path conditions:
  ai-quality-check: any of: \.py$
  ai-documentation-check: any of: ^src/.*\.py$
  performance-regression-check: any of: ^src/.*\.py$
